body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #1e1f29, #3a3d46);
    color: #fff;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 650px;
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.card {
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.input {
    width: 70%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    text-align: center;
}

.btn {
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background: linear-gradient(90deg, #4e54c8, #8f94fb);
    color: white;

    transition: 0.25s ease;
}

.btn:hover {
    transform: scale(1.07);
    box-shadow: 0 6px 20px rgba(79, 82, 200, 0.4);
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;

    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.2);

    opacity: 0;
    transition: opacity 0.5s ease;
}

.chart {
    margin-top: 40px;
    background: white;
    border-radius: 15px;
    padding: 12px;
}

.chart {
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
